<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row"><h1>Editing train</h1>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= render 'form' %>
    </div>
    <div class="row">
      <div class="col-md-12"><%= link_to 'Show', @train, class: "btn btn-default" %> |
            <%= link_to 'Back', trains_path, class: "btn btn-default" %></div>
    </div>
  </div>
</div>
